@import "tailwindcss";
h1 {
        position: absolute;
        top : 50%;
        left : 50%;
        transform : translate(-50%, -50%);
        font-size : 3rem;
        text-decoration: underline;
        font-family: 'Aptos';
}