.nav {
        display: flex;
        background-color: lightseagreen;
        justify-content: space-between;
        padding:8px 14px;
        align-items: center;

}
.nav2 {
        display: flex;
        gap:20px;
}